body {
	background-color:#00836E;
	font-family: "Calibri";
	color:#FFF;
}

div {backround-color: grey;
	margin: auto;
	width: 30%;
	border: 2px solid black;
	padding: 8px;}
	
	
h1 {text-align: center}
